# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual envs
.venv*/
venv/
ENV/

# Editors/OS
.vscode/
.idea/
.DS_Store

# HW2 venv
homework2/myenv/

# HW2 collected static
homework2/staticfiles/
